<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
    <tr>
        <td>10:00</td>
        <td>Housekeeping rules and intro of the communties</td>
    </tr>
    <tr>
        <td>10:30</td>
        <td>Why care about open (data) science?</td>
    </tr>
    <tr>
        <td>11:00</td>
        <td>Introducing R and RStudio IDE</td>
    </tr>
    <tr>
        <td>11:45</td>
        <td>Collaborating with Github</td>
    </tr>
    <tr>
        <td>12:45</td>
        <td>Using packages from Bioconductor</td>
    </tr>
    <tr>
        <td>2:00</td>
        <td>End</td>
    </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
    <tr>
        <td>10:00</td>
        <td>Data Wrangling and Analyses with Tidyverse</td>
    </tr>
    <tr>
        <td>11:00</td>
        <td>Data Visualization with ggplot2</td>
    </tr>
     <tr>
        <td>12:00</td>
        <td>Break</td>
    </tr>

    <tr>
        <td>12:10</td>
        <td>Producing Reports With knitr</td>
    </tr>
    <tr>
        <td>13:00</td>
        <td>Getting help with R</td>
    </tr>
            <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
